.action-button{
    margin: 6% 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: auto;
    cursor: pointer;

    @include respond(tab-port){
        font-size: 1.5rem;
        margin: 3% 0;
    }

    img{
        width: 30px;
        margin-right: 8px;
    }
}