.player-name{
    font-size: 1.4rem;
    font-weight: 300;

    @include respond(extra-small){
        font-size: 1.2rem;
    }

    @include respond(tab-port){
        font-size: 2rem;
    }

    @include respond(tab-land){
        font-size: 3rem;
    }
}

.current-player .player-name{
    font-weight: 400;

    &:after{
        content: "\2022";
        color: $red;
        border-radius: 50%;
        margin-left: .2rem;

        @include respond(tab-land){
            margin-left: .8rem;
        }
    }
}

.global-score{
    color: $red;
    font-size: 4rem;
    font-weight: 200;
    line-height: 70px;

    @include respond(tab-port){
        font-size: 6rem;
        line-height: 100px;
    }

    @include respond(tab-land){
        font-size: 8rem;
        line-height: 120px;
    }
}

.round-block{
    span{
        text-transform: uppercase;
    }

    .round-score{
        font-size: 2rem;
        color: white;
    }
}