.player-name{
    font-size: 3rem;
    font-weight: 300;
}

.current-player .player-name{
    font-weight: 400;

    &:after{
        content: "\2022";
        color: $red;
        border-radius: 50%;
        margin-left: .8rem;
    }
}

.global-score{
    color: $red;
    font-size: 8rem;
    font-weight: 200;
    line-height: 120px;
}